*{
    box-sizing: border-box;
}

span {
    border: 1px solid black;
    padding: 6px;
}

.container {
    max-width: 65vw;
    margin-bottom: 6rem;
}

.container {
    display: flex;
}

.container .week {
    display: flex;
    flex-wrap: wrap;
}

.container .week span {
    width: 20%;
}

.container .week span:nth-child(1),
.container .week span:nth-child(7) {
    width: 100%;
}

.container .week span:nth-child(8),
.container .week span:nth-child(9){
    width: 50%;
}

.container .notes {
    display: flex;
    flex-direction: column;
}

.container .notes span {
    height: 50%;
    flex-grow: 1;
}