body {
    display: flex;
    background-color: rgb(238, 238, 238);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 675px;
    height: 250px;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.container img {
    object-fit: cover;
    width: 82px;
    height: 100%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.container .mainImg {
    width: 380px;
    object-fit: contain;
    border-radius: 8px;
    padding: 0 8px;
    background-color: black;
}